In [2]:
import pandas as pd
import nltk 
from bs4 import BeautifulSoup
import string
from nltk.corpus import stopwords
import numpy as np

In [75]:
df = pd.read_csv('titanic_train.csv', index_col = 'PassengerId')

In [63]:
df.head(1)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S

In [238]:
mask1 = (df.Survived == 1)
mask0 = (df.Survived == 0)

In [240]:
# df = df[(df['Survived'] == '1')]
groupAnalysis = df[mask1].groupby(['Sex', 'Pclass'])['Survived'].count()
groupAnalysis_dead = df[mask0].groupby(['Sex', 'Pclass'])['Survived'].count()

In [120]:
# groupAnalysis.count()

Sex     Pclass  Survived
female  1       1           91
        2       1           70
        3       1           72
male    1       1           45
        2       1           17
        3       1           47
Name: Survived, dtype: int64

In [133]:
# groupAnalysis.mean()

In [246]:
survived_dict = groupAnalysis.to_dict()
dead_dict = groupAnalysis_dead.to_dict()

In [242]:
survived_dict

{('female', 1): 91,
 ('female', 2): 70,
 ('female', 3): 72,
 ('male', 1): 45,
 ('male', 2): 17,
 ('male', 3): 47}

In [243]:
survived_dict.keys()

dict_keys([('female', 1), ('female', 2), ('female', 3), ('male', 1), ('male', 2), ('male', 3)])

In [244]:
survived_dict.values()

dict_values([91, 70, 72, 45, 17, 47])

In [245]:
for k, v in survived_dict.items():
    print("group:",k,"=>",v)

group: ('female', 1) => 91
group: ('female', 2) => 70
group: ('female', 3) => 72
group: ('male', 1) => 45
group: ('male', 2) => 17
group: ('male', 3) => 47

In [247]:
for k, v in dead_dict.items():
    print("group:",k,"=>",v)

group: ('female', 1) => 3
group: ('female', 2) => 6
group: ('female', 3) => 72
group: ('male', 1) => 77
group: ('male', 2) => 91
group: ('male', 3) => 300